* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*indica que o tamanho agora levará em conta até a borda -- ou seja, o width será a soma do conteúdo com a borda e o padding.*/
}
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url);
  background-repeat: no-repeat; /*não repete a imagem de fundo*/
  background-position: top center; /*agrupa a imagem dando enfase ao eixo y*/
  background-size: cover; /*cobre toda a tela com a imagem*/

  /*background color image repeat position/size */
  /*background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;*/
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%; /*preenche 100% da página de qualquer dispositivo*/
  max-width: 588px; /*maximo de largura ideal para abrir em dispositivos*/
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}
/*profile*/
#profile img {
  width: 112px; /*largura*/
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
/*switch*/

#switch {
  position: relative;
  width: 64px; /*largura*/

  margin: 4px auto;
}
#switch button {
  width: 32px; /*largura*/
  height: 32px; /*altura*/
  background: white var(--switch-bg-url) no-repeat center; /*adicionando a imagem dentro do botao*/
  border: 0;
  border-radius: 50px; /*borda vira um circulo*/

  position: absolute; /*sobrepõe camadas*/
  top: 50%; /*alinha posicionamentos absolutos*/
  left: 0; /*posição inicial do button*/
  z-index: 1; /*prioriza qual camada ira sobrepor*/
  transform: translateY(-50%); /*deixa metade do botão pra cima do switch*/

  animation: slide-back 0.3s;
}

.light #switch button {
  animation: slide-in 0.4s forwards; /*animação do botão deslizar do light para o dark mode, executando função slide in solicitada lá embaixo*/
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/
ul {
  list-style: none;
  display: flex; /*esse elemento se torna um flex container, a partir daí podemos manipular todos os elementos filhos desse flex container com propriedades novas.*/
  flex-direction: column; /*permite alterar a direção na qual os elementos flex serão exibidos ao longo do eixo principal*/
  gap: 16px; /*espaçamento entre cada caixa*/
  padding: 24px 0;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center; /*é empregada para alinhar os elementos ao longo do eixo principal, cuja direção ( row ou column ) é definida a partir da propriedade flex-direction*/
  border-radius: 8px; /*arredonda os cantos das bordas*/
  border: 1px solid var(--stroke-color); /*cor das bordas*/

  padding: 16px 24px;
  background: var(--surface-color);

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none; /*tira as formatações do texto*/
  font-weight: 500;

  transition: background 0.2s; /*formata a transição do background hover ao passar o mouse em cima*/
}
/*pseudo-selector*/
ul li a:hover {
  background: var(
    --surface-color-hover
  ); /*formata transparencia ao passar o mouse em cima*/
  border: 1.5px solid var(--text-color); /*clareia a borda e deixa mais grossa ao passar o mouse em cima*/
}
#social-links {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 24px 0;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  text-align: center;
  padding: 24px 0;
  font-size: 14px;
}
/* media queries */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
